body{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
#root {
    width: 100vw;
    height:100vh;
    border-color: brown;
    border-style: solid;
    display: flex;
    justify-content: center;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2em 1em;
}

#grid {
    width: 30%;
    height: auto;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border-color:bisque;
    border-style: solid;
}
